.menu-head {
    background-image: linear-gradient(to right,#ec6b00,#ff8a33);
    border-radius: 0px;
}

.nav-item-link {
    color: #ec6b00;
    font-weight: bold;
}

.search-div {
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 29px 0px
    rgba(0,0,0,0.75);
    padding: 20px;
    border-radius: 5px;
}

.input-search {
    width: 25%;
}

.title-search {
    color: #ff6b00;
    margin-left: 15px;
    font-weight: bold;
    font-size: 15px;
}
.title-general {
    color: #fff;
    margin-left: 15px;
    font-weight: bold;
    font-size: 30px;
}

.button-search {
    background-color: #ff6b00;
}

.button-search-black {
    background-color: #000000;
}

.button-search-continue {
    background-color: #77dd77;
}

.button-search-div {
    margin-top: 25px;
    margin-left: 80%;
}

.div-toggle {
    cursor:pointer;
}

.table-res {
    font-size: 10px;
}

.title-result {
    margin-left: 25px;
    color:orange;
}
.div-toggle hover {
    color: black;
}

.alert-msg {
    width: 50%;
    margin-top: 30px;
    margin-left: 15px;
    transition: opacity 0.6s;
}

.label{
    position: absolute;
    top: 6px;
    left: 12px;
    font-size: 16px;
    font-style: italic;
    text-transform: none;
    background-color: transparent;
    transform: none;
    margin: 0px;
    padding: 10px;
}


.wrap{
	width: 900px;
	max-width: 100%;
	margin: 15px auto;
}

ul.tabs{
	width: 100%;
	background: #ec6b00;
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 50%;
}

ul.tabs li a{
	color: #fff;
    margin-left: 0px;
    font-weight: bold;
    font-size: 15px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active{
	background: #0984CC;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	background: #fff;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}


@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
}
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}